<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Down Blog</title>
    <link rel="stylesheet" href="/articles.css">
</head>

<body>
    <div class="container">
        <h1>All blogs</h1>
        <% if (articles.length == 0) { %>
            <h3>No blogs to show... click on the button below to add one</h3>
        <% } %>
        <a href="/articles/new"><button>Add a New Blog</button></a>
        <% articles.forEach((article)=> { %>
            <div class="card-body">
                <h2 class="title">
                    <%= article.title %>
                </h2>
                <p class="created-at">
                    <%= article.createdAt.toLocaleDateString() %>
                </p>
                <p class="description">
                    <%= article.description %>
                </p>
                <p class="markdown">
                    <%- article.sanitisedHTML %>
                </p>
                <div class="btns">
                    <a href="/articles/<%= article.slug %>"><button class="read-more">Read more</button></a>
                    <form action="/articles/<%=article.id%>?_method=DELETE" method="post">
                        <button class="delete">Delete</button>
                    </form>
                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>